@model IEnumerable<YUMMY.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <button>
        <a class="btn btn-outline-danger btn-lg" asp-area="" asp-controller="Admin" asp-action="AdminView">Back To Admin Page</a>
    </button>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealIngradints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MealName)
                </td>
                <td>
                    <img src="@("/images/"+item.MealImage)" style="width:200px;height:200px" />
                    @* @Html.DisplayFor(modelItem => item.ImageFile) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealIngradints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
